[FEA] Support uuid

I wish we can support spark builtin function named uuid.

eg:
```
# Sample data
data = [
    ("Alice", 34),
    ("Bob", 45),
    ("Cathy", 29)
]

# Create DataFrame
df = spark.createDataFrame(data, ["Name", "Age"])

# Register the DataFrame as a temporary view
df.createOrReplaceTempView("people")

# Use the built-in UUID function in a SQL query
result_df = spark.sql("""
    SELECT
        Name,
        Age,
        uuid() AS UUID
    FROM people
""")

# Show the result
result_df.show(truncate=False)
```

Not-supported messages:
```
        ! <Uuid> uuid(Some(3714467881860205233)) cannot run on GPU because GPU does not currently support the operator class org.apache.spark.sql.catalyst.expressions.Uuid

```

Refer to the [`RandomUUIDGeneratorSuite`](https://github.com/apache/spark/blob/v4.0.0/sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/util/RandomUUIDGeneratorSuite.scala), Spark UUID uses variant 2 and version 4 which are described in [RFC4122](https://datatracker.ietf.org/doc/html/rfc4122).

This means Spark uses truly Random or Pseudo-Random Numbers, refer to the section 4.4 of RFC4122.
And as shown in the test suite, for the same input seed, the generated UUIDs are the same, it's deterministic for the same seed.

New update: Can not specify seed for UUID function, so uuid function is totally a non-deterministic function.